* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}	


.taskbar {
    border-top: 3px solid #377fe3;
    background-color: #235cdb;
    height: 30px;
    justify-content: flex-start;
}

.start{
    height: 100%;
    width: 90px;
    background-color: #439d41;
    border: 2px solid #217921;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 5px;
}

.start p {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    color: white;
    font-style: italic;
}

.start img{
    max-width: 24px;
    max-height: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
}

.folder{
    width: 32px;
    height: 32px;
}

.icon-card{
    width: 70px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
    padding-left: 40px;
    gap: 30px;
}

.desktop p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: white;
}

.icon-card:hover{
    background-color: #235bd9;
}

.windows{
    z-index: 5;
    height: 500px;
    width: 750px;
    border: 0px;
    inset: 0 0 0 0;
    margin: auto;
    background-color: #0055e7;
    border: 2px solid #0030be;
}

.windows-2{
    position: absolute;
    right: 50px;
    bottom: 150px;
    height: 311px;
    width: 550px;
    border: 0px;
    background-color: #0055e7;
    border: 2px solid #0030be;
}

.box{
    display: flex;
    flex-direction: column;
}

.box p{
    font-family: 'Trebuchet MS';
    font-size: 14px;
    color: white;
}

.header{
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spacer{
    width: 87.5%;
}

button{
    border: 1px solid white;
    color: white;
    background-color: #e57962;
    height: 18px;
    width: 18px;
    padding-top: 1px;
}

.header img{
    height: 14px;
    width: 14px;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #f0ecdd;
    gap: 10px;
    border-top: 2px solid #0030be;
    border-bottom: 2px solid #dad6c7;
    padding: 5px;
}

.nav p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: black;
}

.ribbon{
    display: flex;
    align-items: center;
    background-color: #f0ecdd;
    gap: 10px;
}

.direction{
    display: flex;
    align-items: center;
    background-color: #f0ecdd;
    border-right: 2px solid #dad6c7;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
}

.direction img{
    height: 24px;
    width: 24px;
}

.direction p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: black;
}

.address{
    display: flex;
    align-items: center;
    background-color: #f0ecdd;
    border-top: 2px solid #dad6c7;
    border-bottom: 2px solid #dad6c7;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.address p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
}

.bar{
    border: 2px solid #97a2a5;
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 3px;
}

.address img{
    height: 14px;
    width: 14px;
}

.go{
    display: flex;
    align-items: center;
    gap: 5px;
}

.content{
    height: 393px;
    background-color: white;
    display: flex;
}

.content-2 img{
    object-fit: contain;
}

.taskbar-direction{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.open-window p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: white;
}

.open-window{
    width: 10%;
    height: 100%;
    border: solid 1px #29538b;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    background-color: #3c81f3;
}

.open-window img{
    max-width: 15px;
    max-height: 15px;
}


.open-window:hover{
    background-color: #29538b;
    border: solid 1px black;
}

.icon-card-2{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.icon-card-3{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
}


.folder-2{
    width: 50px;
    height: 50px;
}

.desc p{
    font-size: 12px;
}

.directory-header{
    background-color: #f0ecdd;
}

.directory-header p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: black;
    padding: 3px;
    padding-left: 4px;
}

.directory{
    border-right: 5px solid #f0ecdd;
    height: 373px;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    padding-top: 2px;
}

.dir-list{
    display: flex;
    gap: 5px;
    padding-top: 2px;
    padding-left: 2px;
}

.dir-list img{
    height: 14px;
    width: 14px;
}

.dir-list p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: black;
}

.dir-list-2{
    display: flex;
    gap: 5px;
    padding-top: 2px;
    padding-left: 22px;
}

.dir-list-2 img{
    height: 14px;
    width: 14px;
}

.dir-list-2 p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: black;
}

.dir-list-3{
    display: flex;
    gap: 5px;
    padding-top: 2px;
    padding-left: 42px;
}

.dir-list-3 img{
    height: 14px;
    width: 14px;
}

.dir-list-3 p{
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: black;
}

#files{
    padding-left: 10px;
    padding-top: 10px;
}

.divider{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}