/* INDEX */
.index-body{
	background-color: #fedc92;
}

.poster-container{
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: space-evenly;
	align-content: space-evenly;
	
}

.poster{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	gap: 2px;
	height: 660px;
	width: 510px;
	border: 5px solid #5c231a;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f8c061;
	box-shadow: 20px 20px #e58435;
}

.section{
	display: flex;
	height: 88px;
	width: 490px;
	border: 5px solid #5c231a;
	background-color: #5c231a;
	justify-content: space-evenly;
	align-items: center;
}

.section1{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 374px;
	width: 490px;
	border: 5px solid #5c231a;
	background-color: #f8c061;
	background-image: repeating-conic-gradient(#fcda8f 0deg 5deg, #f1ba53 5deg 15deg, #fcda8f 15deg 20deg, #e58435 20deg 30deg);
}

.section1-2{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 374px;
	width: 490px;
	border: 5px solid #5c231a;
	background-color: #f8c061;
	background-image: repeating-conic-gradient(#fcda8f 0deg 5deg, #f1ba53 5deg 15deg, #fcda8f 15deg 20deg, #e58435 20deg 30deg);
}

.section2{
	height: 179px;
	width: 490px;
	border: 5px solid #5c231a;
	background-color: #5c231a;
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
}

.poster-title{
	font-family: impact;
	font-size: 64px;
	color: #f8c061;
}

.poster-title2{
	font-family: impact;
	font-size: 64px;
	color: #d72427;
}

.poster-img{
	height: 354px;
	width: 360px;
}

.poster-img1{
	height: 354px;
	width: 360px;
	left: 0;
}

.poster-dialogue{
	font-family: impact;
	font-size: 32px;
	color: #5c231a;
	background-color: #fcda8f;
	border-radius: 50%;
	padding: 20px;
	top: -150px;
	right: 30px;
	border: 2px solid #5c231a;
	position: relative;
	text-align: center;
}

.poster-desc{
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: impact;
	font-size: 32px;
	color: #d72427;
	text-align: center;
}

.poster-desc1{
	font-family: impact;
	font-size: 32px;
	color: #f8c061;
}

.poster-desc2{
	font-family: impact;
	font-size: 24px;
	color: #f8c061;
	text-align: justify;
	margin: auto;
}

.poster-desc1-1{
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: impact;
	font-size: 24px;
	color: #d72427;
	text-align: center;
}

.poster-dialogue:hover{
	background-color: #5c231a;
	color: #fcda8f;
	border: 2px solid #fcda8f;
}

/* CATEGORY */
.body-cat{
	background-color: #fedc92;
}

.main-container{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	top: 50px;
}

.board-border{
	height: 630px;
	width: 1250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e58435;
	box-shadow: 25px 16px #f1ba53;
	border-radius: 10px;
	border: 2px solid #5c231a;
}

.board{
	height: 590px;
	width: 1220px;
	background-color: #d38331;
	border: 2px solid #5c231a;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	padding-bottom: 10px;
}

.category{
	height: 520px;
	width: 350px;
	background-color: #5c231a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.clip{
	height: 50px;
	width: 280px;
	background-color: grey;
	position: relative;
	top: -10px;
	box-shadow: 0px 5px #f1ba53;
	z-index: 5;
}

.category-paper{
	height: 500px;
	width: 320px;
	background-color: #fedc92;
	position: relative;
	top: -20px;
	/*border-top: 20px solid #f1ba53;*/
	box-shadow: 5px 5px #f1ba53;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.board-title{
	height: 100px;
	width: 925px;
	right: 305px;
	top: 10px;
	background-color: #d72427;
	position: absolute;
	z-index: 10;
	border: 2px solid #5c231a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paper-title{
	font-family: 'Courier New', monospace;
	font-size: 32px;
	color: black;
	text-align: center;
	font-weight: bold;
}

.paper-description{
	font-family: 'Courier New', monospace;
	font-size: 20px;
	color: black;
	text-align: center;
	font-weight: italic;
}

.paper-description2{
	font-family: impact;
	font-size: 20px;
	color: black;
	text-align: justify;
	font-weight: italic;
	padding: 5px;
}

.img-sizing{
	height: 40%;
	width: 80%;
	filter: sepia(80%);
}

/* PRODUCT GALLERY */
.gallery-body{
	background-color: #fedc92;
}

.main-product-container{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	z-index: 5;
}

.banner{
	position: relative;
	height: 100%;
	width: 100%;
	border: 2px solid #5c231a;
	box-shadow: 10px 10px #f1ba53;
}

.place-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.product-header{
	width: 1260px;
	height: 50px;
	background-color: #d38331;
	border: 5px solid #5c231a;
	border-radius: 5px;
	box-shadow: 10px 10px #f1ba53;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.gallery-container{
	margin: auto;
	/*border: 1px solid black;*/
	height: 1920px;
	width: 1260px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	flex-direction: column;
	background-color: #d38331;
	border: 5px solid #5c231a;
	border-radius: 5px;
	box-shadow: 20px 20px #f1ba53;
}

.product-section-container{
	height: 370px;
	width: 1250px;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.product-container{
	height: 340px; 
	width: 230px;
	/*border: 1px solid black;*/
	background-color: #5c231a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.product-img{
	height: 190px;
	width: 190px;
	filter: sepia(60%);
	border: 2px solid #5c231a;
}

.product{
	height: 320px;
	width: 210px;
	background-color: #fedc92;
	position: relative;
	top: -20px;
	/*border-top: 20px solid #f1ba53;*/
	box-shadow: 5px 5px #f1ba53;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-evenly;
	align-items: center;
}

.product-clip{
	height: 30px;
	width: 120px;
	background-color: grey;
	position: relative;
	top: -7px;
	box-shadow: 0px 5px #f1ba53;
	z-index: 5;
}

.product-description{
	font-family: 'Courier New', monospace;
	font-size: 16px;
	color: black;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.original-price{
	font-family: 'Courier New', monospace;
	font-size: 12px;
	color: black;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	color: red;
}

.text-box{
	height: 110px;
	width: 210px;
}

.nav-format{
	font-family: impact;
	font-size: 16px;
	color: #fedc92;
	text-decoration: none;
}

.buttons{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.search-div{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 20px;
	margin-bottom: 15px;
}

.nav-format:hover{
	color: #5c231a;
}

form{
	display: flex; 
	align-items: space-evenly; 
	justify-content: center;
	gap: 5px;
	margin-top: 15px;
}

.search-bar{
	padding: 5px; 
	border-radius: 5px; 
	border: 1px solid #ccc;
}

.search-button{
	padding: 5px 10px; 
	border: none; 
	background-color: brown; 
	color: white; 
	border-radius: 5px; 
	cursor: pointer;
}

/* DESCRIPTION */
.desc-container{
	margin: auto;
	/*border: 1px solid black;*/
	height: 570px;
	width: 1050px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	flex-direction: row;
	background-color: #d38331;
	border: 5px solid #5c231a;
	border-radius: 5px;
	box-shadow: 20px 20px #f1ba53;
}

.desc-board{
	height: 530px; 
	width: 420px;
	/*border: 1px solid black;*/
	background-color: #5c231a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.desc-paper{
	height: 510px;
	width: 380px;
	background-color: #fedc92;
	position: relative;
	top: -35px;
	/*border-top: 20px solid #f1ba53;*/
	box-shadow: 7px 7px #f1ba53;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-evenly;
	align-items: center;
}

.desc-clip{
	height: 50px;
	width: 210px;
	background-color: grey;
	position: relative;
	top: -7px;
	box-shadow: 0px 5px #f1ba53;
	z-index: 5;
}

.desc-text-box{
	height: 130px;
	width: 320px;
}

.product-img-desc{
	height: 320px;
	width: 320px;
	filter: sepia(60%);
	border: 2px solid #5c231a;
}

.desc-box{
	width: 440px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.desc-notes{
	width: 400px;
	height: 400px;
	background-color: #fedc92;
	box-shadow: 7px 7px #f1ba53;
}

.tape{
	width: 200px;
	height: 50px;
	background-color: rgba(93,87,75,0.4);
	position: relative;
	top: 25px;
	z-index: 5;
}

.button-section{
	height: 100px;
	width: 400px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.spacer{
	height: 30px;
}

.product-description2{
	font-family: 'Courier New', monospace;
	font-size: 16px;
	color: black;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cart-style{
	height: auto;
	width: 120px;
	color: #5c231a;
	font-family: impact;
	font-size: 18px;
	text-align: center;
	background-color: #fedc92;
	border-radius: 10px;
	border: 2px solid #5c231a;
	box-shadow: 5px 5px #f1ba53;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cart-style:hover{
	color: #fedc92; 
	background-color: #5c231a;
}

/* THANK YOU */
.product-description-thankyou{
	font-family: 'Courier New', monospace;
	font-size: 48px;
	color: black;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.product-description-msg{
	font-family: 'Courier New', monospace;
	font-size: 16px;
	color: black;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.desc-notes2{
	width: 400px;
	height: 400px;
	background-color: #fedc92;
	box-shadow: 7px 7px #f1ba53;
	display: flex;
	flex-direction: column;
	text-align: space-evenly;
	justify-content: center;
}