.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

/*
.container img{
    height: 15%;
    width: 15%;
}
*/

.container img{
    position: block;
}

.banner{
    position: relative;
    display: inline-block;
}

.banner p{
    position: absolute;
    left: 30%;
    bottom: 3%;
    text-orientation: sideways-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
    font-size: 48px;
    font-family: Georgia, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #462523;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 21%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.text{
    width: 780px;
}

.text p{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.desc img{
    width: 25%;
    height: 25%;
}

.gemini{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#castor{
    position: relative;
    width: 30%; height: 30%;
}

#pollux{
    position: absolute;
    height: 90%;
    width: 70%;
    bottom: 0%;
    left: 30%;
}