.box{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    /*border: solid 1px black;*/
    padding: 20px;
    /*
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-top: 20px;
    */
}

.container-column{
    display: flex;
    flex-direction: column;
}

.name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.name label{
    font-family: Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
}

.container input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 1px black;
}

.name-style{
    display: flex;
    justify-content: center;
}

.name-style input{
    width: 253px;
}

.student-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.student-details p{
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.student-details label{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.addt-details{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.flex-start p{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
}

.flex-start form{
    padding-top: 5px;
    padding-bottom: 5px;
}

.divi-sect{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    gap: 2px;
}

.divi-sect2{
    width: 450px;
    display: flex;
    justify-content: flex-start;
    gap: 2px;
}

.divi-sect p{
    text-align: justify;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.header img{
    height: 120px;
    width: 120px;
}

.header-text{
    width: 490px;
}

.header-text p{
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.header-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.header-divider label{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}