.spacing {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.spacing2 {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-family: Lexend;
    font-size: 48px;
    text-align: center;
    margin-bottom: 2px;
}

.subtitle {
    font-family: Lexend;
    font-size: 16px;
    text-align: center;
}

.desc {
    font-family: Lexend;
    font-size: 18px;
}

.border {
    border: 2px solid black;
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: block;
}

.FivexFive {
    height: 5in;
    width: 5in;
}

.AllBorder {
    border: 1px;
    border-radius: 20px;
    height: 25%;
    width: 25%;
}

.sidebyside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.round-borders {
    border: 1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 20em;
}

.img-size {
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: block;
}

.hover-pic{
    height: 25%;
    width: 25%;
}

.hover-pic:hover{
    transform: scale(0.9);
    transition: 1.3s ease;
}

.shadow{
    box-shadow: 15px 13px lightgrey;
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: block;
}

.floatnum{
    float: right;
    height: 25%;
    width: 25%;
}

.lyrics{
    font-family: Lexend;
    font-size: 32px;
}

.circle{
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: block;
    clip-path: circle(40%);
    shape-outside: circle(45%);
}

.ellipse{
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: block;
    clip-path: ellipse(40% 50%);
    shape-outside: ellipse(45% 50%);
}

.masked-arwhin{
    -webkit-mask-image: url(arwhin.png);
    mask-image: url(arwhin.png);
    mask-repeat: no-repeat;
}

.masked-keith{
    -webkit-mask-image: url(keith.png);
    mask-image: url(keith.png);
    mask-repeat: no-repeat;
}

.masked-wayne{
    -webkit-mask-image: url(wayne.png);
    mask-image: url(wayne.png);
    mask-repeat: no-repeat;
}

a{
    text-decoration: none;
    
}